<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка изображений</title>
</head>
<body>
<h1>Загрузка изображений</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить</button>
</form>
<hr>
{% if images %}
    {% for img in images %}
        <p><img src="{{ MEDIA_URL }}{{ img.image.url }}" width="300">{{ img }}</p>
    {% endfor %}
{% else %}
    <h2>Изображений нет</h2>
{% endif %}
</body>
</html>